---
export const prerender = true;
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="refresh" content="0; url=/archive/" />
		<link rel="canonical" href="/archive/" />
		<title>Redirecting to Archive</title>
	</head>
	<body>
		<a href="/archive/">Redirecting to Archive</a>
	</body>
</html>
